<% for (sendData of sendDatas) { %>

<div class="d-flex justify-content-between align-items-center">
  <div>
    <% for (getInterface of getInterfaces) { %>
    <div>
      <% if (getInterface != "id") { %>
      <strong>
        <%= getInterface %>:
      </strong>
      <%= sendData[getInterface] %>
      <% } %>
    </div>
    <% } %>
  </div>
  <a href="/<%= content %>/edit/<%= sendData.id %>" class="btn btn-primary">Modifier</a>
  <form method="post" class="m-0">
    <input type="hidden" name="delete-<%= content %>-<%= sendData.id %>" value="<%= content %>-<%= sendData.id %>">
    <button type="submit" href="/<%= content %>/edit/<%= sendData.id %>" class="btn btn-primary">Supprimer</a>
  </form>
</div>
<hr>
<% } %>
