<div class="position-relative mb-3">
    <label for="<%- content  %>-edit-<%- sendData.id  %>" class="font-weight-bold"><%- label %></label>
    <input type="<%- sendData  %>"
        name="<%- label  %>"
        class="form-control p-0 m-0 border-top-0 border-left-0 border-right-0 rounded-0"
        id="<%- content  %>-edit-<%- sendData.id  %>"
        aria-describedby="TODO"
        value= "<%- getInterface %>"
        placeholder= "">
</div>

