

<div class="position-relative mb-3">
<label for="selector-<%= getInterface %>" class="font-weight-bold"><%- label %></label>
<input type="text" hidden name="<%= getInterface %>" value="<%= getSelector %>" id="selector-<%= getInterface %>">

<% for (items of selector) { %>
  <button onclick="clickOnSelector('selector-<%= getInterface %>-<%= items.id %>')" 
    id="<%= getInterface %>-<%= items.id %>" 
    class="btn <% if(getSelector) { %><%- getSelector.split(',').includes(items.id.toString()) ? 'btn-success' : 'btn-danger' %><% } else { %>btn-danger<% } %> m-1" 
    type="button"><%= items.name %>
  </button>
<% } %>


</div>